@import "../../variables.scss";

.chat-item {
  padding: 18px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color2;
  cursor: pointer;

  &:hover {
    background-color: $chat-hover-color;
  }

  &__info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;

    span {
      color: white;
      position: relative;
      flex-grow: 1;
      font-size: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $font-color;
    }
    p {
      color: white;
      font-size: 14px;
      color: $font-color-secondary;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
