$border-color: rgba(241, 241, 241, 0.2);
$border-color2: #242d32;
$header-color: #2a2f32;
$search-input-color: #323739;
$message-input-color: #33383b;
$message-pannel-background: #1e2428;
$light-black: #131c21;
$icon-color: #b1b3b5;
$incoming-message-bg-color: #262d31;
$user-message-bg-color: #054740;
$incoming-message-name-color: #35cd96;
$font-color: rgba(241, 241, 242, 0.92);
$font-color-secondary: rgba(241, 241, 242, 0.63);
$message-color: rgba(241, 241, 242, 0.95);
$chat-hover-color: #2d3134;
$green: #00af9c;
